{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1>inside app</h1>

<style>
 .card-wrapper {
    display: flex;
    flex-wrap: wrap;  
    gap: 1rem;  
}  
.card {
    
    width: 18rem;  
}
</style> 

<div class="card-wrapper">
  {% for i in meals %}
    <div class="card">
        <img src="{{ i.strMealThumb }}" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">{{ i.strMeal }}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
  {% endfor %}
</div>

{% endblock %}
